<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Hisaab</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="wrapper bg-zinc-900 h-screen w-screen">
        <h1 class=" text-white text-3xl font-semibold uppercase text-center pt-6">Create New Hisaab</h1>
        <form action="/createnewhisaab" method="post" class='flex justify-center items-center flex-col gap-4 mt-20'>
            <input type="text" name="hisaab" id="" placeholder="Enter your hisaab...." class='w-96 h-40 pl-3'>
            <input type="submit" value="Submit"  class='text-white bg-green-600 px-4 py-2 rounded-sm cursor-pointer'>
        </form>
    </div>
</body>
</html>