<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hisaab</title>
</head>
<body>
    <div class="wrapper flex justify-center items-center  h-screen bg-zinc-900 ">
        <h1>Edit Hisaab</h1>
        <% file.map((file)=>{ %>
            <h1><%= file %></h1>
        <%})%>
    </div>
</body>
</html>