<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhataBook - Daily Hissab</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="wrapper w-screen h-screen bg-zinc-900 ">
        <h1 class=" text-white text-3xl font-semibold uppercase text-center pt-6">Welcome to KhataBook</h1>
        <div class="flex justify-center items-center gap-20 mt-40">
            <a href="/create-hisaab"> <button class="bg-green-600 px-4 py-2 text-white rounded-sm" id="createbtn">Create
                    New</button></a>
            <button class="bg-blue-600  px-4 py-2 text-white rounded-sm">View Hisaab</button>
        </div>
    </div>
    <script src="../js/Route.js"></script>
</body>

</html>